body {
  font-family: Arial, sans-serif;
  background: linear-gradient(135deg, #89f7fe 0%, #66a6ff 100%);
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.login-container {
  background-color: #fff;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  width: 350px;
  box-sizing: border-box;
  text-transform: none;
}

h2 {
  text-align: center;
  margin-bottom: 20px;
  color: #333;
}

input[type="text"],
input[type="password"],
input[type="email"] {
  width: 100%;
  padding: 10px;
  margin: 10px 0;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  font-size: 14px;
}

input[type="checkbox"] {
  margin-right: 5px;
}

label {
  display: block;
  margin: 5px 0;
}

#resetBtn{
  width: 100%;
  padding: 10px;
  border: none;
  border-radius: 4px;
  background-color: #007bff;
  color: #fff;
  font-size: 16px;
  cursor: pointer;
  margin: 10px 0;
}

#login-link {
  text-decoration: none;
  font-size: medium;
  border: none;
  background-color: white;
  cursor: pointer;
  margin-top: 10px;
  margin-left: 80px;
}

#login-link:hover {
  text-decoration: underline;
}

.show-password-container {
  display: flex;
  align-items: center;
}
