body {
    font-family: Arial, sans-serif;
    /* background-color: #94eefa;  */
    background: linear-gradient(135deg, #89f7fe 0%, #66a6ff 100%);
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
  }
  
  .login-container {
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 350px;
    box-sizing: border-box;
    text-transform: none;

  }
/*   
  h2 {
    font-size: 20px;
    font-weight: bold;
    color: #333;
    padding: 8px 12px;
    border: 1px solid #000000;
    border-radius: 4px;
    background-color: #f9f9f9;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    text-align: center;
    justify-content: center;
    display: flex;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
  } */

  h2 {
    text-align: center;
    margin-bottom: 20px;
    color: #333;
  }
  
  input[type="text"],
  input[type="password"] {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
  }
  
  input[type="checkbox"] {
    margin-right: 5px;
  }
  
  label {
    display: block;
    margin: 5px 0;
  }
  
  #registerBtn {
    width: 100%;
    padding: 10px;
    border: none;
    border-radius: 4px;
    color: #fff;
    font-size: 16px;
    cursor: pointer;
    margin: 10px 0;
  }
  
  #registerBtn {
    background-color: #007bff; 
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }
  
  #login-link {
    text-decoration: none;
    font-size: medium;
    border: none;
    background-color: white;
    cursor: pointer;
    margin-top: 10px;
    margin-left: 110px;
  }
  
  #login-link:hover {
    text-decoration: underline;
  }
  
  input[type="checkbox"] {
    margin-right: 5px;
  }

  #message{
    display: flex;
    justify-content: center;
  }
  